[2011-11-29 06:39] PrajaktaJavanjal opened #1 "Need help to run Java Programs"
Hello,

I am working on Splunk Java SDK. I wanted to run example Java programs given with Splunk Java SDK. But I am not able to run those programs. I have set enviornment variables. What additional setup do I need? Please give me the steps in detail. It will be very helpful for me.

Thanks & Regards,
Prajakta Javanjal

[2011-11-30 09:27] #1 closed, assigned to nobody

[2012-03-27 13:51] dalagic opened #2 "NetBeans"
Hello,

does anyone have NetBean project which contans all waht I need to connect to my local splunk? I need some java web apps which will connect to my  splank and show me ANY details or dahsboards...

Please anything, am killing myself with available tutorials...

Thanks!

[2012-09-11 23:43] stringaling opened #5 "maven support already.."
!please!

[2013-01-11 18:57] mzeb opened #30 "ResultsReaderXml doesn't work with preview results"
When I try and use the ResultsReaderXml class with preview results (e.g. from /results_preview), I don't seem to get anything back. Probably related is that when I use it with an export search (i.e. search/jobs/export), I only get the final results and no previews either.

[2013-03-26 20:41] #30 closed, assigned to nobody

[2013-03-29 18:28] #5 closed

[2013-06-21 14:20] aantonov opened #47 ".idea is not necessary in repository. Please use .gitignore file to filter stuff like that"

[2013-06-24 20:25] #47 closed, assigned to nobody

[2013-07-18 00:24] zenmoto opened #49 "Errors when requesting data in JSON output mode get parsed as XML"
I'm trying to export data using JSON with the SDK.  When I get an authentication error I get the following stack trace:

[code]

Chasing it down to [HttpException](https://github.com/splunk/splunk-sdk-java/blob/master/splunk/com/splunk/HttpException.java#L47) the response is being parsed as XML:

[code]

even though the response is JSON:

[code]

[2013-07-26 21:11] #49 closed, assigned to nobody

[2013-08-25 13:11] pax95 opened #51 "version 1.2 on maven repo."
When will the new version be available on your maven repo http://splunk.artifactoryonline.com/splunk/ext-releases-local ??

[2013-10-15 16:08] broamski opened #53 "HTTP 400 After Upgrade to Splunk 6.0"
Hello,

I'm experiencing the following error when attempting to connect to my upgraded Splunk 6.0 instance via the Java client:

[Fatal Error] :1:3: The markup in the document preceding the root element must be well-formed.
Exception in thread "main" com.splunk.HttpException: HTTP 400
    at com.splunk.HttpException.create(HttpException.java:59)
    at com.splunk.HttpService.send(HttpService.java:

[2013-11-14 22:33] glennblock opened #55 "1.2.1 Release Checklist"
These are instructions on the various steps necessary to put out a new release of the Splunk SDK for Java. Even though the instructions are public, these steps are only meant to be taken by the SDK maintainers.
## Prerequisites
- [x] Update changelog.
- [x] Run test suite on full test matrix.
- [x] Install `random_numbers.spl` (found in `dist/` after running `ant dist` on the repository) on Linux

[2013-11-19 21:09] #53 closed, assigned to nobody

[2013-12-05 18:37] wgorman opened #57 "XML Parsing Exceptions when using metro and wstx-asl"
When working in a container or a classpath that includes metro (specifically webservices-rt.jar) or Woodstox (specifically wstx-asl.jar), I get the following exception trying to parse the results from a search:

com.ctc.wstx.exc.WstxEOFException: Unexpected EOF; was expecting a close
tag for element <doc>
 at [row,col {unknown-source}]: [1,27]
java.lang.RuntimeException: com.ctc.wstx.exc.WstxEOFEx

[2013-12-05 23:27] #51 closed, assigned to nobody

[2013-12-05 23:27] #2 closed, assigned to nobody

[2013-12-05 23:28] #55 closed, assigned to madhadron

[2013-12-05 23:31] itay opened #58 "Index.upload() should accept map of arguments"
Filed from Splunk Answers:
http://answers.splunk.com/answers/113975/host-attribute-for-comsplunkindexupload-in-java-sdk

Currently, when you do a oneshot upload, you can only specify which index it will go to. The API supports other parameters (like source/sourcetype), which we should allow you to set using a key/value map.

[2014-01-27 22:03] radhika123456789 opened #62 "splunk sdk : com.splunk.HttpException: HTTP 401 -- call not properly authenticated"
I am trying to search the string from splunk , i was getting 401 error.
StringBuilder searchString = new StringBuilder();

[code]

Service service = Service.connect(splunkArgs);
Job job = service.getJobs().create(searchString.toString());

[2014-01-28 17:00] radhika123456789 opened #63 "JobCollection-Job job = get(sid); giving (java.lang.RuntimeException: java.lang.RuntimeException: ParseError at [row,col]:[43202,46] Message: Connection reset)"

[2014-02-13 00:39] dojadop opened #64 "[Fatal Error] :-1:-1: Premature end of file."
Splunk: 5.0.6
Splunk Java SDK: 1.2.1.0

This is printed from an exception that is thrown from the parsing of XML when there is an HTTP Status code of >= 400.  It is coming from the Xml.parse method being called below.

Line 67 from HttpException.class

[code]

Why is this being logged or is this really a fatal error?  Everything seems to still function properly and I can catch the HTTPException.

[2014-06-22 17:57] #64 closed, assigned to nobody

[2014-07-02 21:35] #57 closed, assigned to nobody

[2014-07-10 21:42] #63 closed, assigned to nobody

[2014-07-14 23:52] #58 closed, assigned to nobody

[2014-09-03 00:36] sdemos opened #65 "com.splunk.Job::getResults() throws an exception instead of blocking"
I was using the Job::getResults() method in my project, and the documentation recommends that you use

[code]

because Job::getResults() throws an exception if it is called and the search isn't finished.
I was wondering why Job::getResults() can't just block until the search is finished, instead of doing the blocking manually. I have tried to think of use cases for manually blocking, but I can't s

[2014-09-03 02:00] #65 closed, assigned to nobody

[2014-09-07 22:58] binkley opened #66 "Please publish to maven central"
I appreciate you do use Maven, and know that you host your own repository.  Please consider publishing to Maven central.  There are a slew of tools and integrations that know to look for dependencies in Maven central - then splunk.jar would "just work out of the box" as a dependency.

[2014-09-09 16:39] sdemos opened #67 "Add AutoCloseable to ResultsReader"
ResultsReader already has an idempotent close method (it just called InputStream.close()), so I believe it would be as simple as adding AutoClosable to the list of interfaces ResultsReader implements. It wouldn't break backwards compatibility and would allow people to use try-with-resources.

[2014-09-09 16:52] #67 closed, assigned to nobody

[2014-10-06 23:23] Splaktar opened #68 "Documentation is unclear. Should ResultsReaderJson handle JSON_ROWS data?"
The following code results in an `IllegalStateException: Expected a name but was END_OBJECT at line x column y.` on ResultsReaderJson line 127:

[code]

It looks like ResultsReaderJson is only looking for the 'preview' and 'results' fields, but JSON_ROWS returns the results in the 'rows' field.

The documentation mentions that ResultsReaderJson should handle JSON results, but it appears to only ha

[2014-10-14 22:11] #68 closed, assigned to nobody

[2014-10-30 18:09] pax95 opened #69 "Problems with Service.connect on 6.2"
See details here http://answers.splunk.com/answers/179760/why-am-i-getting-error-received-unexpected-3692953.html

[2014-10-30 20:23] #69 closed, assigned to nobody

[2014-12-19 08:08] fygrave opened #70 "Command.class is missing from jar"
Some of older packages expect that Command.class is under com.splunk, which is absent in jar (moved to util/com/splunk/). Breaks some older code.

[2015-01-14 04:19] Splaktar opened #71 "Search via Java SDK orders of magnitude slower than REST API"
We have been using the splunk-sdk-java for over a year now. So far we've been very happy with it, but we are starting to run into some performance issues.

This started when we noticed that the minimum time that we could receive a response from our back-end server was around 3 seconds even for the smallest possible search. When kicking off multiple searches serially this becomes a significant dela

[2015-01-14 04:56] itay commented on #71
@Splaktar thank you very much for filing this.

First of all, I'm sorry that you're running into this. That type of performance is not right and not something you should be seeing.

In our testing, we haven't seen anything like this before, including on old versions. Given that, I'd really like to get to the bottom of this. We'll set up a local environment to see if we can replicate what you saw.

[2015-01-14 18:31] Splaktar commented on #71
1. I am running 1.7.0_60 and a teammate who is reproducing and debugging this is running 1.6.0.
2. Yes, full Enterprise Splunk, not a Universal Forwarder.
3. The API in use with POST search.

The delay seems to be focused around accessing the search job, either via job creation or other calls that need to build the search job object.

[2015-01-14 18:36] itay commented on #71
@Splaktar thanks for the information. Is there any chance you can share a snippet that shows where the issue (i.e. the set of calls that you're seeing 2 seconds of extra time)? Similarly, if you can share the snippet of the direct REST call where you are not seeing it.

Thanks!

[2015-01-14 18:55] Splaktar commented on #71
We are working on gathering that information for you now. Thank you for the prompt responses!

[2015-01-14 19:17] dojadop commented on #71
The `createJob()` method is okay with response times and is very similar to the REST api.  The key area that we are seeing longer response times is when performing the following:

SDK (500ms -> 2200ms)
`Job job = service.getJobs().get(sid)`

vs

REST (<80ms)
`GET /services/search/jobs/:sid`

This is also observed using other methods such as `getResults()`, `getResultsPreview()`, etc.

[2015-01-14 19:20] itay commented on #71
So if you use the `Job` object returned by `createJob`, and do something like `getResults()`, do you still see a delay there?

[2015-01-14 19:53] dojadop commented on #71
When I use the object returned by `createJob` there is no delay.  So that is good news!  However, our use-case for the api doesn't allow us to pass this object around.  We rely on passing the sid to look up the Job and then perform the `getResults()` call.

Any thoughts as to why the get method is having a delay?

[2015-01-14 20:19] itay commented on #71
Yes, it has to do with how we list those objects internally.

Generally, when you call `getJobs().get(sid)`, it will fetch all the jobs, and then return them locally. So you're paying for network and then parsing that you are not going to use. There are a couple of reasons why it is done this way, but in your case, it's not giving you good results.

[2015-01-14 22:01] itay commented on #71
@Splaktar @dojadop We have a proposed change which you can see here:
https://github.com/splunk/splunk-sdk-java/commit/e32cb40c94a615b33c3724929b234117d674eff3

Would this work for you? It should solve your problem of the API timing.

[2015-01-14 23:22] Splaktar commented on #71
That looks to be along the lines of what we're looking for. We'll try it out and report back on the performance. Thank you!

[2015-01-14 23:51] glennblock commented on #71
Thanks for being patient with us @Splaktar!

[2015-01-15 16:01] dojadop commented on #71
I cloned the feature/getJob branch to test and I am seeing much better response times when I get the `Job` object.  However, after digging into the Job class I noticed every time I access a getter method such as `job.getDoneProgress()` it does an additional request to get this information.  So for the following snippet of code there is still a large latency due to calling the getters sequentially:

[2015-01-15 21:05] shakeelmohamed commented on #71
Hi @Splaktar @dojadop,

This is actually a bug in `Job.isReady()`, which is called in `Job.checkReady()` (which is called by `Job.getDoneProgress()` and other `Job.get...` methods).
We've pushed a fix to the same `feature/getJob` branch, see the diff here: 9e66a4dbacc7016da1c730a090c139e10bb5f82a

Thanks again for your patience

[2015-01-19 15:20] dojadop commented on #71
Did some more testing with the latest push and seems to be working.  When do you anticipate releasing this fix?

[2015-01-22 00:00] shakeelmohamed commented on #70
Hi @fygrave,

Can you give us a bit more information, like which packages?

Thanks!

[2015-01-22 00:11] shakeelmohamed commented on #71
@Splaktar @dojadop

We are working on releasing this fix. We'll comment back once it's out along with some other changes coming in the next release.

[2015-01-22 09:51] fygrave commented on #70
here are a few:

 https://github.com/elfsternberg/splunk-search-clojure
in core.clj:

(ns splunksearch.core
  (:require [clojure.java.io :refer :all])
  (:import (com.splunk Service ServiceArgs Args ResultsReaderJson ResultsReaderCsv ResultsReaderXml Event))
  (:import (com.splunk Command))
  (:import (java.io InputStreamReader OutputStreamWriter)))

in splunk sdk examples:

https://github.com/spl

[2015-01-22 17:33] Splaktar commented on #71
Great. Thank you very much!

[2015-01-22 20:24] shakeelmohamed commented on #71
You're welcome! We're expecting to get a release out next week as we don't like to release on fridays.

[2015-01-23 00:36] shakeelmohamed commented on #70
Thanks for that info!

The `Command` class has been in the `util/com/splunk` directory since v1.0 ([relevant commit](https://github.com/splunk/splunk-sdk-java/commit/bea5c83978880d23c2a13bddd195043d22da09c4)), this is not something we plan to change. In this case, the package does not match the file structure but our build script takes care of that.

If you look at the [Usage section in the splunk

[2015-01-28 23:48] shakeelmohamed commented on #71
@Splaktar @dojadop
We've just released v1.3.2 with these fixes!
Thanks again for reporting this issue and your continued patience.

[2015-01-28 23:48] #71 closed

[2015-02-03 23:00] shakeelmohamed commented on #70
Hi @fygrave,

We've decided to make [this change](https://github.com/splunk/splunk-sdk-java/commit/4a88c3aa0923c5300709eabd6a9f1822d52c45f5) on the develop branch

[2015-02-04 02:27] fygrave commented on #70
Thanks. This would make building 3rd party packages so much easier!

[2015-02-04 02:28] fygrave commented on #70
I guess the issue can be closed now :)

[2015-02-04 02:28] #70 closed

[2015-03-02 14:11] kurtzettel opened #72 "SDK should be updated to support secure connections"
Due to Poodle most security conscious organizations have disable SSLv3 on many of their servers.  Java has also disabled SSLv3 in several releases.  While some people have recommended commenting out: jdk.tls.disabledAlgorithms=SSLv3 it would be better if the sdk supported TLS.  There are several forks that have changed this.

Related links:
http://answers.splunk.com/answers/210201/i-changed-splunk

[2015-03-03 19:38] shakeelmohamed commented on #72
Hi @kurtzettel,

We are aware of this issue, and will look into it. We're always open to a pull request!

Thanks

[2015-03-10 17:13] dojadop commented on #72
:+1: We just upgraded one environment to use java 1.8.0_40 and started running into this issue

Does anyone know the impact to older versions of java if this was done suggested in this post http://answers.splunk.com/answers/210201/i-changed-splunk-from-using-sslv3-to-tlsv12-and-th.html:

[code]

If there isn't seems like a fairly trivial solution.

[2015-03-10 17:16] dojadop commented on #72
Nevermind i just found this https://github.com/splunk/splunk-sdk-java/pull/61

Seems like there is an issue and would require a different implementation.  @kurtzettel did your solution work in Java 8?

[2015-03-27 22:21] shakeelmohamed commented on #53
Hi @smilingleo

Sorry we didn't see this before, if you're still blocked on this please open a new issue.
If you found a solution, please let us know

[2015-03-27 22:24] shakeelmohamed commented on #72
Hi @dojadop @kurtzettel,

We have a potential fix in #75, please take a look

[2015-04-07 18:27] dojadop commented on #72
Thanks!  Sorry for the slow response @shakeelmohamed.  It is working for me.

[2015-04-13 22:23] shakeelmohamed commented on #72
Hi @dojadop @kurtzettel,

We've just released v1.4.0, adding some functionality to allow you to specify which protocol you want to use when connecting to Splunk.
The [`ssl_protocols`](https://github.com/splunk/splunk-sdk-java/blob/release/1.4.0/examples/com/splunk/examples/ssl_protocols/Program.java) example will show you a couple different ways to work with Java 8 and/or TLS.

Once again, thanks

[2015-04-13 22:23] #72 closed

[2015-05-12 21:20] sunieldalal commented on #66
I am also hoping that it will be published soon to maven central so that it gets easier for developers

[2015-05-12 21:23] sunieldalal opened #77 "Normal Search results in infinite loop in sdk 1.4"
Running search something like this and results into infinite loop on !isDone() although original job has been completed on Splunk Server. Same code works fine with SDK 1.3.1

[code]

[2015-05-12 21:28] shakeelmohamed commented on #77
Hi @sunieldalal we will look into this. Thanks for letting us know

[2015-05-22 19:17] shakeelmohamed commented on #77
Hi @sunieldalal,

Can you try adding `job.refresh();` before your `Thread.sleep(10000);`? This will actually update the `Job` objects status from Splunk.

Here's an example program that works for me

[code]

[2015-05-23 22:10] sunieldalal commented on #77
Thanks a lot Shakeel for your time. I will have a look and will let you
know if I face any issues still. You can close the issue as of now.

On Fri, May 22, 2015 at 12:17 PM, Shakeel Mohamed <notifications@github.com>
wrote:

[2015-05-23 22:28] shakeelmohamed commented on #77
No problem, glad I can help :)

[2015-05-23 22:28] #77 closed

[2015-08-11 20:29] shakeelmohamed commented on #77
@sunieldalal we've released v1.5.0 which addresses this issue.

[2015-08-27 19:27] wpoch opened #79 "Allow connection through proxy"
Do you have any plans to implement the connection through proxies?

[2015-08-27 19:29] itay commented on #79
@wpoch it's something that is in our backlog, but we have no immediate plans. We're always open to receiving pull requests for things like this that include the code changes and tests to go with them.

[2015-08-27 20:46] wpoch commented on #79
Ok, I will try to make the pull request for this.

[2015-11-21 01:57] itay commented on #79
Closing until there is some movement on this.

[2015-12-14 19:45] francispage opened #81 "job.getEventCount() throws null pointer exception when too many events"
We have a couple of events in our Splunk deployment and we can't get the eventCount (actually no result at all because the exception is catched at higher level) when the number of event is too big.

This is only for a week of data so it's very problematic in our case.

Splunk.java.lang.NumberFormatException: For input string: "2335707040"
        at java.lang.NumberFormatException.forInputString(N

[2015-12-14 21:04] shakeelmohamed commented on #81
Thanks for the bug report @francispage.

We're open to a pull request against the `develop` branch if you're interested in doing the work

[2016-01-28 17:36] joe96814 opened #83 "savedSearch.dispatch throws NullPointerException"
I am getting an NPE when calling the dispatch method on a savedSearch.  Tracing the code the NPE is occurring in ResourceCollection.java in the namespace(AtomEntry entry) method.  The issue is entityMetadata is set using entry.content.get("eai:acl"), but this returns null and entityMetadata is never checked for null.  Surrounding this call with a null check resolves the issue and gives the expecte

[2016-01-28 17:50] itay commented on #83
@joe96814 A few questions:

1. Which version of Splunk are you using?
2. Do you happen to be using Search Head Clustering?
3. If the answer to (3) is yes, are you talking to a specific SH always, or do you have an LB in front of them that you're talking to?

[2016-02-08 16:43] joe96814 commented on #83
I am using Splunk Java SDK 1.5, the server itself is host on splunkcloud and is version 6.3.0.4.  I will have to confirm with our admin, but I am guessing there is Search Head Clustering with a LB in front.

[2016-05-01 10:20] geonspapa commented on #83
My env is 6.3.3 shc. Same problem occured. Problem is not fixed?

[2016-07-07 18:28] ivansd commented on #62
This issue is still present:

ServiceArgs loginArgs = new ServiceArgs();
loginArgs.setUsername("username");
loginArgs.setPassword("password");
loginArgs.setHost(host);
loginArgs.setPort(Integer.parseInt(port));
Service.connect(loginArgs);

Then, I check if login is successful by having this line of code:

System.out.println("Installed apps: " + service.getApplications().keySet());
I get all apps a

[2016-07-07 18:54] shakeelmohamed commented on #62
@ivansd can you provide us with some details about your environment? (Splunk version, OS, load balancer, etc.)

[2016-07-08 20:03] ppchava commented on #62
we are also experiencing similar issue 'com.splunk.HttpException: HTTP 401 -- call not properly authenticated' while trying to connect to Splunk.. we are

Here is code snippet.
                ServiceArgs loginArgs = new ServiceArgs();
		loginArgs.setUsername(username);
		loginArgs.setPassword(password);
		loginArgs.setHost(host);
		loginArgs.setPort(port);
		loginArgs.setApp(app);
		Service splun

[2016-07-08 21:14] itay commented on #62
Since we know this code path works, the best suggestion for this issue is to open a support ticket via support@splunk.com with your Support entitlements, since it may be something specific to your environment.

[2016-08-18 02:14] fuyufjh opened #85 "Overriding for Password.itemKey is not reasonable"
In `PasswordCollection.java`

[code]

I don't think this is is reasonable because a certain password is located by id "[realm]:[username]". Assuming you have 2 password, first is "realmA:admin" and second is "realmB:admin", `passwordCollection.get("admin")` can only return one of it

Suggesting overriding `passwordCollection.get(String id)` and an additional `passwordCollection.get(String realm, S

[2016-08-18 02:16] itay commented on #85
@fuyufjh sounds like a decent idea. A pull request is welcome to fix it :)

[2016-10-03 23:05] ranugant opened #87 "Error Messages of a search"
Hello Team,
My search results are incomplete due to some of the indexes were down
![splunk](https://cloud.githubusercontent.com/assets/22604491/19057171/dac79330-8982-11e6-8d1e-ff78ae7ba998.jpg)
Got Some warnings and error messages,  is there any way to retrieve them using splunk java sdk as its showing job has property called messages but i didnt find that property in sdk 1.5.0.

Please help me o

[2016-10-03 23:20] shakeelmohamed commented on #87
Hi @ranugant,

You can access the `getSearchLog()` method on any `Job` object

[2016-10-03 23:28] ranugant commented on #87
Hi Shakeel,

Thanks for your response. I tried reading that searchlog but i couldn't find any error information in that log.

[2016-10-04 01:24] shakeelmohamed commented on #87
@ranugant can you try calling `get("messages")` on the `Job` object? That should return a map of severity levels to messages

[2016-10-04 02:16] ranugant commented on #87
Hi Shakeel,

It worked. Thank you so much for your help.
good work keep it up.

[2016-10-04 02:17] #87 closed

[2016-10-27 22:05] df-sandiego commented on #83
Has anyone got any answer yet on this issue?  I got the exact same problem.

[2016-11-21 14:44] tim-suchanek commented on #83
6.4.4
yes, LB in front of SH
any other solution suggestion then to switch of LB?

[2016-11-28 19:10] shakeelmohamed commented on #85
Merged to the develop branch

[2016-11-28 19:10] #85 closed

[2016-11-28 19:36] shakeelmohamed commented on #62
Closing due to inactivity

[2016-11-28 19:42] shakeelmohamed commented on #83
Hi everyone,
we have a fix in the develop branch (7a952a56ad6071c94e4e35bafe5a8956bff7ea2f), and we're looking to push out a release soon.

[2016-11-28 22:41] shakeelmohamed commented on #81
We've added a fix on the develop branch, 842702e625fdf6fad7eb7d902f5ec02a9ca353e2 which will be out in the next release.

[2016-11-28 22:41] #81 closed

[2016-11-28 22:42] #83 closed

[2017-01-03 17:22] dstaas commented on #79
I was able to modify the Splunk 1.6.0 Java SDK to enable our corporate proxy to work against Splunk 6.4.1.  I made changes in 2 places:

In HttpService.java, changed line 41 to TLS_v1.2 (was SSLv3):

    protected static SSLSecurityProtocol sslSecurityProtocol = SSLSecurityProtocol.TLSv1_2;

around line 406, added a single line for our proxy server, e.g.

    Proxy proxy = new Proxy(Proxy.Type.HTT

[2017-01-03 17:43] shakeelmohamed commented on #79
Thanks for looking into this @dstaas

[2017-01-16 02:55] vettal-wu opened #92 "bug: java modular input launchers in windows may not kill java process when it be terminated"
I run modular input using shim.exe in windows.

When I stop splunk, I found that the shim.exe process will be killed, but the java process is still running. And in splunkd.log, there is a warning messages:

[code]

Process 4840 is the shim.exe.

I read the code of shim.cpp. I found that shim.exe will wait splunkd and java process using function ```waitOutcome = WaitForMultipleObjects(2, processHan

[2017-01-20 04:52] vettal-wu opened #94 "bug: shim cpp not close the vmopts file handler"
There is a java modular input running, and I added some jvm options in the .vmopts file. Then I found this file is occupied by the shim.exe. It seems that this file is not closed after reading.

[2017-01-21 12:50] nmaiorana commented on #62
HTTP 401 -- {"messages":[{"type":"WARN","text":"call not properly authenticated"}]}

We are seeing this error intermittently. From what I can tell, it happens after the request is submitted to the server. I even suspect the query itself is being executed. I suspect this because our Splunk team is reporting more concurrent sessions for our user than is possible for us.

Is it possible the error mes

[2017-01-23 18:55] tdhellmann commented on #62
Hi @nmaiorana - It would help us to know a bit more about your situation:

Which version of Splunk Enterprise, the Splunk Java SDK, and Java are you running on?
What does your Splunk Enterprise deployment look like (SHC, load balancing, etc.) ?
Can you provide a code snippet that leads to the error?
How many concurrent sessions are you seeing for your user?
How long does your search take to proces

[2017-02-06 23:02] dstaas commented on #79
Still working on getting internal approval to submit PR, please leave open & I'll get it in as soon as I can.

[2017-02-09 14:19] poet-of-the-fall opened #96 "update used version of minified $script"
Hi,

I use the SDK together with Angular 2. Painting one chart was no problem, but as I wanted to paint a second one, it didn't work. I traced it down to the "UI.loadCharting" function. The passed callback is only called, if $script loads the file from the server. If using the function for creating a second chart, the callback will not be executed (as the file is already loaded).
I fixed it by rep

[2017-02-10 00:55] tdhellmann commented on #96
Hi @poet-of-the-fall - was this meant for the [JS SDK](https://github.com/splunk/splunk-sdk-javascript)?

[2017-02-10 08:31] poet-of-the-fall commented on #96
oh sorry, yes, wrong repo :-(

[2017-02-10 08:31] #96 closed

[2017-02-27 08:06] aramachandranintuit commented on #83
is this issue fixed ?

[2017-02-27 08:06] aramachandranintuit opened #97 "Saved search throws a Null pointer exception"
when running a saved search instance through splunk API , i get the following exception

"main" java.lang.NullPointerException
	at com.splunk.ResourceCollection.namespace(ResourceCollection.java:262)
	at com.splunk.ResourceCollection.createItem(ResourceCollection.java:161)
	at com.splunk.ResourceCollection.load(ResourceCollection.java:295)
	at com.splunk.ResourceCollection.refresh(ResourceCollecti

[2017-02-27 18:15] tdhellmann commented on #97
Hi @aramachandranintuit - which version of the Splunk SDK for Java are you using and which version of Java are you using?

[2017-02-28 04:20] aramachandranintuit commented on #97
1.5.0 and 1.6.0 are also giving me the same exceptions.

If there is a version of Splunk SDK that has the fix for the above issue , please let me know the version number of the same so that i can add it as a maven dependency.

[2017-02-28 16:41] tdhellmann commented on #97
1.6.1 should have a fix for that specific issue - a null reference check was added at line 262 of ResourceCollection.java. Can you try that version and let me know?

[2017-03-09 03:37] vettal-wu opened #98 "Support customized java cmd"
In java sdk, jvm is always started by the default java cmd. But in some case, user will install multi java in their machine, the default java may not be the one they want to use.

It seems better to provide an interface to support customized java command. User can use default or customized java command to start the jvm according to their requirements.

[2017-03-10 22:26] shakeelmohamed commented on #92
PR has been merged to develop

[2017-03-10 22:26] #92 closed

[2017-03-13 18:18] shakeelmohamed commented on #98
Merged to develop

[2017-03-13 18:18] #98 closed

[2017-03-13 18:18] shakeelmohamed commented on #94
Merged to develop

[2017-03-13 18:18] #94 closed

[2017-04-03 08:41] pwmcintyre opened #100 "Namespace is ignored when searching"
When running a search that refers to an object outside the default namespace, I get errors (tried with savedsearch and macros).

To reproduce:

1. Create new app named `testapp`
1. Create a saved search in `testapp` named `test`
1. Set permissions of saved search to "shared in app"
1. Use Splunk Java SDK to search for `| savedsearch "test"`
   - (oneshot or submit job, doesn't matter)
   - Set nam

[2017-04-03 09:08] pwmcintyre commented on #100
I've tried the same test against the REST API via cURL, looks like it's just the Java SDK not using the namespace URL when the namespace parameter is set.

Without namespace (same error message)
[code]

With namespace
[code]

[2017-04-03 09:51] pwmcintyre commented on #100
Update - I found my issue. Elsewhere in my code i was setting the service to not have a namespace to work around a different issue.... will close and raise another.

[2017-04-03 09:51] #100 closed

[2017-04-03 09:57] pwmcintyre opened #101 "Namespace breaks Index.submit"
If you set a namespace in your session, you can't Index.submit.

I have a test framework which allows for test cases to submit data to Splunk, then ensure it's parsed correctly - but they share the same session.

[code]

Error
[code]

Easy workaround is to have a seperate session for reading / writing. Maybe this is by design?

[2017-04-03 17:13] shakeelmohamed commented on #101
Thanks for the bug report @pwmcintyre! The fix is pretty simple, we'd appreciate a pull request if you're interested in making one.

In `service.java` we need to change

[code]

to

[code]

See `String fullpath(String path, Args namespace)` in `service.java` for the URL path rules.

[2017-04-05 02:37] pwmcintyre commented on #101
I will take a look when I can

[2017-04-05 09:30] tim-suchanek opened #102 "splunk-1.6.2.0.jar contains classes twice"
https://github.com/splunk/splunk-sdk-java/issues/83 is marked closed with 1.6.2 - but upgrading the version did not fix the issue on our side. A look into the jar revealed that old classes seem to reside next to the new ones. Can you please verify and re-package please?

[2017-04-11 09:50] vettal-wu opened #103 "Entity object does not contain the "updated" field"
When we send splunkd a rest api to get the entity, there exists a field "updated" in the response which means the last modified time of this entity. This value may be useful in some cases. For example, some apps want to sort the objects according to the last modified time.

But in java sdk, this field is skipped after parsing the response to an entity, and we can't get the value. I think it's nece

[2017-04-12 22:48] jaeyoungpark opened #105 "Message: Connection reset Caused by: java.lang.RuntimeException: java.lang.RuntimeException: ParseError at [row,col]:[18785,80]"
I'm running a script that executes multiple queries and whenever the script runs for some time, It hits this:

`Exception in thread "main" java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAcc

[2017-04-24 17:48] shakeelmohamed commented on #103
Merged to develop with #104

[2017-04-24 17:48] #103 closed

[2017-05-11 16:55] kozlicki opened #106 "pom.xml missing dependencies"
for following artifacts
- gson-2.2.4.jar
- opencsv-2.3.jar
- commons-cli-1.2.jar

[2017-06-20 17:02] shakeelmohamed commented on #102
@tim-suchanek can you see if this is fixed in v1.6.3?

[2017-07-20 23:40] philippeu opened #108 "Value.toDate(string value) is not thread safe"
When running the sdk in multi-threaded environment, method `static Date toDate(String value) ` in class `Value` is throwing exceptions from time to time:

- Caused by: java.lang.NumberFormatException: For input string: ""
- Caused by: java.lang.NumberFormatException: For input string: ".10201E.102014E4"
- Caused by: java.lang.NumberFormatException: multiple points

This is preventing to get the st

[2017-08-01 16:03] daelfdude commented on #108
We have run into this same issue as well.  Random but frequent occurrences that only started with the recent update to 1.6.3.   We are falling back to 1.6.2 until this is resolved.

[2017-08-21 17:43] shakeelmohamed commented on #108
We've merged a fix to the develop branch.

[2017-08-21 17:43] #108 closed

[2017-08-23 12:43] #102 closed

[2017-08-24 22:28] clayroach commented on #97
@aramachandranintuit - was there a resolution for this?  I am seeing something similar in v1.6.2.0

[2017-08-25 15:54] aramachandranintuit commented on #97
I worked around this issue by not using that workflow. I don't think they
solved it.

On Aug 25, 2017 3:58 AM, "Clay Roach" <notifications@github.com> wrote:

[2017-09-14 06:47] liketic opened #111 "Migrate to maven/gradle"
I think we can benefits from those dependency management tools for example update the 3rd party library version.

[2017-09-14 07:10] liketic commented on #101
@shakeelmohamed I sent a PR for this. Please review it.

[2017-09-14 10:32] liketic commented on #97
@aramachandranintuit I cannot reproduce this on latest version. Could you please confirm that? And if still happens, please provide more informations. Thanks!

[2017-09-14 10:34] liketic opened #113 "SSLHandshakeException on java 8"
java version: `1.8.0_101`
error:
`
Exception in thread "main" java.lang.RuntimeException: No appropriate protocol (protocol is disabled or cipher suites are inappropriate)
	at com.splunk.HttpService.send(HttpService.java:451)
	at com.splunk.Service.send(Service.java:1295)
	at com.splunk.HttpService.post(HttpService.java:348)
	at com.splunk.Service.login(Service.java:1124)
	at com.splunk.Service.lo

[2017-09-14 17:41] #111 closed

[2017-09-19 19:51] clayroach commented on #97
We are seeing this still in v1.6.2.0, with Splunk v6.4.7.  We just ran into this again today.

[2017-09-20 01:05] liketic commented on #97
@clayroach Can you try v1.6.3.0?

[2017-09-20 01:09] clayroach commented on #97
We can try but didn't look like any commits since 1.6.2 would address this.

[2017-09-21 14:50] j9reid commented on #97
This continues to hamper data collection at our customer. Any updates on this?

[2017-09-21 15:20] liketic commented on #97
@j9reid Could you please provide the steps to reproduce this issue？

[2018-02-14 08:48] mdharmesh commented on #62
@nmaiorana Even I am facing the same issue. Mainly it occurs once in a while.

[2018-02-20 22:51] shakeelmohamed commented on #106
Thanks @kozlicki, we've filed a task internally to take care of this DVPL-7285

[2018-02-20 22:58] #105 closed

[2018-02-20 22:59] shakeelmohamed commented on #105
Related to internal ticket DVPL-7228

[2018-02-21 09:37] SplunkingArnaud opened #119 "Modular Input - java.lang.ArrayIndexOutOfBoundsException"
Hello,

I am trying to implement a Java Modular input.
I am using splunk-sdk-java.

When trying to use the writeEvent method or synchronizedWriteEvent from the eventwriter i get an exception:
java.lang.ArrayIndexOutOfBoundsException.

Could you please advise.

This issue seems to be similar to this one:
https://answers.splunk.com/answers/577416/java-modular-input-javaxxmlstreamxmlstreamexceptio.ht

[2018-02-23 18:11] shakeelmohamed commented on #97
Closed to due to lack of information. Please re-open if anyone has more details.

[2018-02-23 18:11] #97 closed

[2018-02-23 18:12] shakeelmohamed commented on #79
@dstaas due to inactivity we are closing this issue. Feel free to send us a pull request at anytime.

[2018-02-23 18:12] #79 closed

[2018-02-23 18:16] shakeelmohamed commented on #66
We're going to close this now. Internally we've made a firm stand that we will not publish to maven central. The workaround is simply using the maven repository configuration we have in the readme.

[2018-02-23 18:16] #66 closed

[2018-02-23 18:18] shakeelmohamed commented on #113
Filed DVPL-7284 to address this

[2018-02-26 16:21] RakeshAMore commented on #62
facing same issue. I have verified that my username and password is correct but this is mainly happening when I tried to make multiple calls at time using multiple threads.

[2018-02-28 11:37] RakeshAMore commented on #62
I am able to resolve this issue by minimising number of concurrent requests to splunk server, now it is working fine  thanks

[2018-03-08 21:47] shakeelmohamed commented on #101
Merged PR to develop #118

[2018-03-08 21:47] #101 closed

[2018-03-14 09:23] Anil-CC opened #121 "HttpService - Connection pooling"
Any reason for not using http connection pool in HttpService?
If there are many requests are made to the splunk server then every time initializing a new connection will result in performance degrade, Can we write a service which uses http connection pool?

[2018-03-20 15:38] shakeelmohamed commented on #121
@Anil-CC thanks for the feature request, we are open to a pull request if you'd like to add connection pooling.

[2018-03-23 13:05] segfault- opened #122 "Modular Input - textInNode throwing exception when input string is empty"
Version of this project you're using 1.6.4
Platform version osx 10.13.3 (high sierra)
Framework version java 1.8.0_131
Splunk version 7.0.2 - 03bbabbd5c0f

Other relevant information (ex: local/remote environment, Splunk network configuration)

I tracked down this bug because at surface level, it appeared that input validation was not being executed.  Indeed it wasn't being executed because XmlUti

[2018-03-23 13:13] segfault- opened #123 "Modular Input - Set Token - vs "login" - sessionkey and kvstore"
method "setToken" doesn't append "Splunk " at the start of the sessionKey.  Method login will set the token as "Splunk " + sessionKey (see below).

public Service login(String username, String password) {
        ...
        this.token = "Splunk " + sessionKey;
        ...
    }

This can cause issues when working with a modular input and wanting to make REST calls to say.....kvstore

I have to ad

[2018-03-23 13:15] segfault- commented on #122
my formatting didn't go thru, i just added a child!=null check

[2018-03-23 19:39] shakeelmohamed commented on #123
Hi @segfault-, thanks for you note. Feel free to open a pull request if there's a specific change you'd like to see

[2018-03-23 19:39] shakeelmohamed commented on #122
Hi @segfault-, thanks for you note. Feel free to open a pull request if there's a specific change you'd like to see

[2018-04-03 17:40] vergnes opened #124 "java.io.IOException: Push back buffer is full when exporting data in XML"
When calling the export API in XML,Splunkd might write a lot of spaces before the first XML tag (see attachment). The InsertRootElementFilterInputStream class assumes that a buffer of 512 bytes is enough to find the first opening tag. As a result the following exception is raised: [java.io|http://java.io/].IOException: Push back buffer is full

Internally tracked by DVPL-7313

[2018-05-03 17:54] vineethsoma opened #126 "Adding Args option fro Saved Search history method"
Hello,
I have a use-case where I need to get the latest run of a scheduled saved search.

I know SavedSearch class has a history method which gets me all the old jobs runs. But it looks like the results are being paginated to the earliest 30 results.

The history method itself doesn't have any options to pass arguments for the GET call.

Is there any other way to achieve this? I know the REST API

[2018-05-23 19:39] shakeelmohamed commented on #126
Hi @vineethsoma,

This is a reasonable feature request. We're open to a pull request, and the change is pretty small to add support for this feature.

In `SavedSearch` we'd want to add an overload for `history()` that takes an `Args` map and passes it as the second argument to `service.get()`. Then in your code, you'd be able to pass in a map to the new `history()` overload with `count` set to wha

[2018-06-06 07:40] DirtyDeedsDoneDitryCheap opened #127 "I can not run the example"
Now I download the project and want to run example in eclipse.When I debug,for example,I debug at "package com.splunk.examples.index" ,execute the main method,I found that it get a url http://localhost:8000/services/auth/login ,but return com.splunk.HttpException: HTTP 404.
I had download and install splunk by click "download it here".And I can login in http://localhost:8000,using the splunk at  b

[2018-06-06 20:36] shakeelmohamed commented on #127
Hi @DirtyDeedsDoneDitryCheap,

The SDK uses the REST API port (8089 by default) and https by default. Change those 2 things and it should start working.

Please re-open if that doesn't work.

[2018-06-06 20:36] #127 closed

[2018-06-07 01:45] DirtyDeedsDoneDitryCheap commented on #127
@shakeelmohamed  Thanks for your answer.
I've tried to use https and 8089 with the erro  javax.net.ssl.SSLHandshakeException like
https://github.com/splunk/splunk-sdk-java/issues/113
So I want to use http and 8000. Now I use https and 8089,altering the HttpService.java like https://github.com/splunk/splunk-sdk-java/pull/114/files
I have successfully run example.

[2018-06-07 13:46] shakeelmohamed commented on #127
In that case, just add `Service.setSslSecurityProtocol(SSLSecurityProtocol.TLSv1_2);` at the beginning of the example and it should work.

[2018-06-08 17:51] tdhellmann commented on #113
We've merged a fix for this issue - please let us know if you're still having difficulties.

[2018-06-08 17:51] #113 closed

[2018-06-21 15:30] Marcwe25 commented on #53
how can i solved this ?
`[Fatal Error] :1:3: The markup in the document preceding the root element must be well-formed.
Exception in thread "main" java.lang.RuntimeException: The markup in the document preceding the root element must be well-formed.
	at com.splunk.Xml.parse(Xml.java:63)
	at com.splunk.Xml.parse(Xml.java:40)
	at com.splunk.Service.login(Service.java:1125)
	at com.splunk.Service.log

[2018-06-21 16:02] shakeelmohamed commented on #53
@Marcwe25 can you send us an email devinfo@splunk.com with some additional information: versions of Splunk, Java, the SDK and if you're using Splunk Cloud.

[2018-07-20 17:56] tdhellmann commented on #124
For the record this is addressed in the PR here: https://github.com/splunk/splunk-sdk-java/pull/125

[2018-08-16 20:59] mviramgama commented on #113
I added splunk plugin today in Eclipse. Still getting issue.
Exception in thread "main" java.lang.RuntimeException: No appropriate protocol (protocol is disabled or cipher suites are inappropriate)
	at com.splunk.HttpService.send(HttpService.java:345)
	at com.splunk.Service.send(Service.java:1278)
	at com.splunk.HttpService.post(HttpService.java:243)
	at com.splunk.Service.login(Service.java:1109)

[2018-08-17 17:49] shakeelmohamed commented on #113
@mviramgama have you tried using TLS, see the `ssl_protocols` for examples of how to do so https://github.com/splunk/splunk-sdk-java/blob/master/examples/com/splunk/examples/ssl_protocols/Program.java

[2018-08-17 20:46] mviramgama commented on #113
That is really good test program. But unfortunately it didn't work for me.

[code]

[2018-08-17 20:54] mviramgama commented on #113
Finally it worked. My mistake was that I was setting port value as 443 SSL. When I removed that port setting then TLSv1, TLSv1.1, TLSv1.2, custom all are working.

Thanks shakeelmohamed  for your valuable help. Appreciated.

[2018-12-18 10:58] pawarakesh commented on #62
I was getting the same error. I have fixed this problem by upgrading splunk-sdk-java library from 1.3.2 to 1.6.5 (latest one). Now it's working fine.

[2018-12-28 21:41] akhileshwarguli opened #130 "Handshake_failure"
Hi Team,

I am run the test case canSendEventUsingJavaLoggingWithOptions() but I get he hand shake failure error mentioned below.
I have setup splunk enterprise locally and I can see the logs when I use the follwoing curl command

curl -k  https://localhost:8088/services/collector/event -H "Authorization: Splunk 137b49d5-f111-45ac-ba04-96abcef5ec7f1" -d '{"event": "hello world5"}'

java.lang.Runti

[2018-12-31 16:44] akhileshwarguli commented on #130
open on wrong repository.

[2018-12-31 16:44] #130 closed

[2019-01-28 23:23] TeresaP opened #131 "Resource.java should check if AtomEntry updated value is a valid format or handle Value.toDate throwing a NumberFormatException."
https://github.com/splunk/splunk-sdk-java/blob/308dc653209caa49f6c2ff037c584ef28adb91c2/splunk/com/splunk/Resource.java#L160

If there's a problem with the value of `entry` in https://github.com/splunk/splunk-sdk-java/blob/master/splunk/com/splunk/Job.java#L936, where the AtomEntry `updated` value is an empty string, `Value.toDate(...)` will throw a java.lang.NumberFormatException.

[code]

Could

[2019-02-04 14:47] pebo commented on #106
Any progress on this issue? Have you also considered to use more recent versions of the dependencies (gson 2.2.4 is from 2013: https://github.com/google/gson/blob/master/CHANGELOG.md)

[2019-03-05 20:14] TeresaP commented on #131
@shakeelmohamed Is there any other information needed for this bug?

[2019-03-05 20:25] shakeelmohamed commented on #131
@TeresaP sorry for the delay here. We're open to a PR of you're interested in making the change, unfortunately we don't have the resources to spend time on this at the moment

[2019-03-20 11:11] Ikenahim opened #133 "splunk service return 404 not found - Java SDK"
This method make request to Splunk:

HttpService.setSslSecurityProtocol(SSLSecurityProtocol.TLSv1_2);

        Service service = new Service(host,port);
        String credential = user_name+":"+pasword;
        String basicAuthHeader  = Base64.getEncoder().encodeToString(credential.getBytes());

        service.setToken("Basic"+basicAuthHeader);

        if(service.getToken()!= null)
        {

[2019-03-20 11:13] Ikenahim commented on #133
This where I use Service to create query:

public ResultsReaderJson parse_Scan_Data()
    {
        String Query = "index=nessus earliest=-1w |eval base=tonumber(cvss_base_score)| search (base>7.5) AND (ports{}.port!=0)";

        Job job = session.make_Request().getJobs().create(Query);

        while(!job.isDone())
        {
            try {
                Thread.sleep(1000);
            } cat

[2019-03-20 18:01] shakeelmohamed commented on #133
What port value are you using?

Is there any reason you can't use the `Service(Map<String, Object> args)` constructor, or `Service.login()` as I've shown below?

[code]

[2019-03-21 08:03] Ikenahim commented on #133
I use 443 as Splunk is hosted in host with https protocol.
and for host I use Ip address of the host
I used that method since I want to see one session to request query to Splunk without the need to log for each time I want to perform a query

[2019-03-21 20:01] shakeelmohamed commented on #133
@Ikenahim The REST API uses port 8089 for Splunk Enterprise, are you using Splunk Cloud? If so, what's the host value?

The Java SDK has support for cookie-based authentication so you can login once per `Service` instance and you'll continue to get new tokens behind the scenes if you continue making requests.

[2019-03-22 07:59] Ikenahim commented on #133
what is the best approach to login? is it good idea to login for each request ?
I'm using Splunk enterprise.

[2019-03-22 20:50] shakeelmohamed commented on #133
@Ikenahim can you show how you're using the SDK exactly? Once you login with a Service object you shouldn't need to login again for each request

[2019-04-03 11:36] Ikenahim commented on #133
I have fixed that, it was an issue with firewall rules.
I have another problem right with URI cant be null! I have searched this they suggest to add
        HttpService.setSslSecurityProtocol(SSLSecurityProtocol.TLSv1_2);

before making the request which I did but still same problem? how to fix this knowing that I'm using Java sdk 11

Thank you

[2019-04-05 18:21] shakeelmohamed commented on #133
@Ikenahim can you share your anonymized code that uses the SDK? If you don't want to share it publicly, please email us at devinfo@splunk.com

We are unable to help you until we know exactly what you're trying to accomplish.

[2019-04-08 10:42] Ikenahim commented on #133
This was fixed, was an issue with SSL certificate, a team from security department has fixed this issue . Thank you

[2019-04-30 15:01] smndf commented on #119
Hello,
I am facing exactly the same issue, any update?
Tested on Splunk 7.2.6 with sdk 1.6.5.0 on ubuntu 18.04 with Java 8 or 11
Best regards

[2019-05-08 21:16] #133 closed

[2019-06-21 22:33] TeresaP commented on #131
Looks like this should be fixed by https://github.com/splunk/splunk-sdk-java/pull/109 and was a duplicate of https://github.com/splunk/splunk-sdk-java/issues/108

[2019-06-21 22:33] #131 closed

[2019-06-30 21:51] knagarohit commented on #127
I still get the same error with JAVA 8, can anyone help me in resolving the issue to connect to Splunk?

[2019-06-30 21:52] knagarohit commented on #127
@shakeelmohamed @DirtyDeedsDoneDitryCheap Were you able to connect to Splunk using HTTP and localhost?

[2019-07-03 06:05] SurajMenon commented on #62
I am seeing the issue even after upgrading to 1.6.5.
Following is the maven dependency that I have:

<dependency>
	<groupId>com.splunk</groupId>
	<artifactId>splunk</artifactId>
	<version>1.6.5.0</version>
</dependency>

[2019-07-03 08:40] pawarakesh commented on #62
try to download , use it and see if it fixes, http://dev.splunk.com/goto/sdk-java-jar , you can add this manually in your maven repo/build server/common repo .

[2019-07-04 06:33] SurajMenon commented on #62
Even with the jar from Splunk I get the issue.

[2019-07-08 21:14] shakeelmohamed commented on #62
@SurajMenon I've reopened this issue so we don't lose it. If you have some repro steps, we can take a look when we get around to it. We're always open to a PR if you're interested in contributing!

[2019-11-12 17:17] aggie05engineer commented on #106
To save the next developer some time - this worked for me to get our Gradle builds happy:

[code]

[2019-11-13 22:24] aggie05engineer opened #139 "Service.login() does not work well with long-lived clients"
It appears that `Service.login()` is the correct way to log into Splunk and retrieve a cookie containing a token value. For long running applications this token/cookie will eventually expire. There does not appear to be an idiomatic way to refresh these tokens or know when the cookie expires (or should expire).

One approach seems to require every interaction to `login()` (for threading and expira

[2019-11-14 20:29] aggie05engineer commented on #62
This may be related to session expiration and the lack of threading controls in the SDK. See my other recent ticket https://github.com/splunk/splunk-sdk-java/issues/139.

[2020-02-26 11:27] keith721 opened #141 "ResultsReaderCsv.java throws ArrayIndexOutOfBoundsException"
SDK v1.6.5
Windows 10 Professional 64-bit
JavaSE 1.8.0_192
Splunk>enterprise 7.3.2 build c60db69f8e32
[code]
ResultsReaderCsv throws this exception when a multi-line event is being processed.  Multiple log files from three servers contribute two or three lines each, and an eight-line event is returned from the Splunk server.

[2020-03-13 18:23] fantavlik commented on #141
Thanks @keith721 and I apologize for the delay - do you happen to have a sample to help our team reproduce this or have the ability to contribute a test demonstrating the issue? We're open to pull requests, however we do not have the bandwidth to address this issue at the moment. Thank you for your patience and understanding.

[2020-03-13 18:28] keith721 commented on #141
Tim, I believe this was a data corruption issue upon log intake to the
server.  I forcibly identified the erroneous data and excluded it from my
search query to work around the issue.

It appears as though OpenCsv was receiving multiple log data rows, instead
of a single row.  It was consistently the same piece of data causing the
issue.

Keith

On Fri, Mar 13, 2020 at 14:23 Tim Pavlik <notificati

[2020-03-13 23:32] fantavlik commented on #141
Thanks for the update Keith I will close the issue if it was caused by data corruption rather than the SDK but please followup if I'm misunderstanding.

[2020-03-13 23:32] #141 closed

[2020-03-23 12:13] akauppi opened #142 "Is this abandoned??"
Last commit 11 months ago.

Surely there is a more recent repo, somewhere.

[2020-03-23 19:08] shakeelmohamed commented on #142
@akauppi this is the latest version of the SDK, please do not create unproductive GitHub issues like this. If you'd like to have a more in depth conversation, please send us an email devinfo@splunk.com

[2020-03-23 19:08] #142 closed

[2020-04-01 11:19] v-blan opened #144 "Connection Reset after some requests to splunk api"
Hi team,

We are using splunk jdk 1.6.4.

Recently , we got a lot of connection reset error  when we try to send requests to splunk api . And we need wait it for more than a minite then we can send our requests again. Do you guys have any idea about this?

Here is our setting in code:
HttpService.setSslSecurityProtocol(SSLSecurityProtocol.TLSv1_2 );
ServiceArgs serviceArgs = new ServiceArgs();

[2020-05-07 20:36] keith721 commented on #141
Hi Tim, following up, as the error has recurred two or three times since February.  Each time, the scenario is the same, and reproducible.  Multiple results are clustered and returned from Splunk Enterprise to OpenCSV as if they are a single result.  Because there are an excess of fields/columns in the larger-than-expected result, it overflows the assignment loop and throws the exception. :(

[2020-05-08 16:24] fantavlik commented on #141
Hi Keith, I'm sorry to hear that. It sounds like you have a reproducible issue with Splunk Enterprise payloads coming back, since we're unable to fix this on the SDK side of things I'd recommend reaching out to https://www.splunk.com/en_us/support-and-services.html

[2020-05-08 16:26] keith721 commented on #141
Will do, Tim.  Thanks for your most timely response.

On Fri, May 8, 2020 at 12:24 Tim Pavlik <notifications@github.com> wrote:

--
Vegetarian is an ancient Native American word meaning "bad hunter".

[2020-05-11 01:58] kenshinxu1 opened #145 "latest SDK failed with JDK 1.6 and JDK 1.7 , Connection reset error"
Follow the SDK guide and try to run sdk samples in ssl_protocol folder,
In SDK spec it mentioned we need a JDK 6 or later , but I tried with JDK 1.6/1.7/1.8 and find it only work with JDK 1.8 with proper settings.

**with JDK 1.8 , the connection could be successful with TLS v1.2,custom SSL and custom CLS**
Below is the log
[code]

**with JDK 1.6 & JDK 1.7, I could not get any successful connectio

[2020-06-07 20:29] fantavlik commented on #124
Merged/released in v1.6.5

[2020-06-07 20:29] #124 closed

[2020-08-21 09:25] avaz-splunk opened #147 "getting java.io.IOException: Premature EOF while fetching data from splunk"
We are running a search query through Splunk SDK using rest end point and publishing the data to an index. which in turn writes the output data to Excel file. While writing the output data we are seeing exception error intermittently in splunk. As a workaround we have implemented a retry method to reconnect to splunk and this was working fine for sometime but now again we are seeing the same excep

[2020-08-26 05:11] avaz-splunk commented on #147
@splunk support, any update on this issue? we need to unblock a user asap on this issue

[2020-09-04 19:52] nhalstead opened #151 "Not able to get attributes from Splunk ES Correlation Search Entry"
Currently, when getting a search result back from the API (`SavedSearch` Entry) we can't seem to find the values that the ES Correlation Search Entry has.

I've used Postman and I can see the attributes do exist but I am unable to determine what methods to call to expose those entries via the Client Library. We are trying to get values back like the notable event information and risk scores.

 - `

[2021-02-03 08:56] Abrar-Snap commented on #62
Is this fixed somewhere or still an issue? I still see this error.

Caused by: com.splunk.HttpException: HTTP 401 -- call not properly authenticated
	at com.splunk.HttpException.create(HttpException.java:84)
	at com.splunk.HttpService.send(HttpService.java:452)
	at com.splunk.Service.send(Service.java:1293)
	at com.splunk.HttpService.get(HttpService.java:150)
	at com.splunk.Entity.refresh(Entity.j

[2021-03-01 17:52] fpan-splunk opened #156 "Need a way to turn on TLS hostname verification"
It seems we hardcode it to always pass the hostname verification.
We need a way to be able to specify a hostname verifier so that the customer can turn on the hostname verification if they want

https://github.com/splunk/splunk-sdk-java/blob/ffe45f87b8edfde5bbae55e592c78859426942f8/splunk/com/splunk/HttpService.java#L44

[2021-06-29 15:26] cgivre opened #160 "JFrog Repo Not Accessible"
Hello Splunk Team,
My project uses the Splunk SDK as a dependency and it seems that the repository listed is no longer accessible.  Could someone please take a look?
Thanks!

[2021-07-02 19:54] fantavlik commented on #160
This was determined to be a temporary service outage, access has been restored - you can find more details in https://github.com/splunk/splunk-library-javalogging/issues/187

[2021-07-02 19:54] #160 closed

[2021-07-02 19:56] fantavlik commented on #156
Hello! This is currently being addressed in https://github.com/splunk/splunk-sdk-java/pull/158 - which we will release within the next two weeks

[2021-08-16 20:48] ncanumalla-splunk commented on #147
@avaz-splunk Please let us know if you are still facing this issue or have found a resolution. Thanks.

[2021-08-16 20:56] ncanumalla-splunk commented on #144
similar to #145

[2021-08-25 10:27] bparmar-splunk commented on #144
Hi @v-blan,
We have tried to reproduce this issue, but could not make it, and seems resolved.

Please let us know, if you still face this issue and also share more details to reproduce.

[2021-08-26 18:16] dhavamanisettiyannan-nbcuni opened #169 "how to add custom header if we use AWS API Gateway X-API-Key validation"
We are using Splunk Java SDK for test suite integration that will do search in Splunk and based on search results will decide whether test case pass/fail for Application continues integration and deployment pipeline. We have introduced AWS API Gateway with X-API-Key validation for security requirement. Can you please let us know how to add custom header X-API-Key to each Splunk Java SDK calls.

[2021-08-31 05:56] ashah-splunk commented on #156
Hi @fpan-splunk
We have updated the HTTPService class for hostname verification and TLS which is available in the latest version of sdk [1.7.1](https://github.com/splunk/splunk-sdk-java/releases/tag/1.7.1) .
SDK build has been migrated to Maven from ant. And we would recommend use of JDK v1.8 with the latest sdk version

[2021-08-31 05:56] #156 closed

[2021-08-31 17:07] ncanumalla-splunk commented on #169
@dhavamanisettiyannan-nbcuni Thank you for the question. Today, the Splunk Java SDK does not support passing custom headers. There is a [static map of headers](https://github.com/splunk/splunk-sdk-java/blob/master/splunk/src/main/java/com/splunk/HttpService.java#L82-L85) inside the SDK but it is not open to customize.
We will need to prioritize this as a feature enhancement. Is there a time by whi

[2021-08-31 17:26] dhavamanisettiyannan-nbcuni commented on #169
@ncanumalla-splunk Thank you for the update, Can you please prioritize and implement this feature at least by end of November 2021.

[2021-09-01 04:38] bparmar-splunk commented on #106
Hi @kozlicki,
We have migrated SDK build from Ant to Maven build. And all required dependencies are upgraded to recent versions.
And @pebo, yes we have considered recent version of gson dependency.

We recommend to update your current SDK to latest version (i.e. [v1.7.1](https://github.com/splunk/splunk-sdk-java/releases/tag/1.7.1)) along with JDK 1.8 and Maven build.

Please let us know if you fa

[2021-09-01 10:21] #106 closed

[2021-09-02 03:37] myuwono opened #170 "maven-deploy-plugin is included as a transitive dependency in 1.7.1"
Hi All,

I wonder if the inclusion of maven-deploy-plugin in the 1.7.1 release intended?

https://github.com/splunk/splunk-sdk-java/blob/master/pom.xml#L34-L39

We realized this because our security scanner picked that up in the deployment bundle. Right now we needed to explicitly exclude this in our pom, to prevent this from being included. i.e.

[code]

Thanks!

[2021-09-02 04:55] bparmar-splunk commented on #170
Hi @myuwono,
Thanks for posting this.

Yes, it was intentionally kept earlier with regards to SDK [v1.7.0](https://github.com/splunk/splunk-sdk-java/releases/tag/1.7.0), because we have skipped parent pom deployment and only deployment of [**splunk**](https://github.com/splunk/splunk-sdk-java/tree/master/splunk) (child module) was targeted.
But in recent version (i.e. [v1.7.1](https://github.com/s

[2021-09-02 06:20] #147 closed

[2021-09-02 06:20] #122 closed

[2021-09-07 05:42] bparmar-splunk commented on #119
Hi @SplunkingArnaud & @smndf,
We have tried to reproduce this issue using one of the test case available with us. We could not encounter such behaviour.

Also, we recommend users to update your sdk to updated version ([v1.7.1](https://github.com/splunk/splunk-sdk-java/releases/tag/1.7.1)) along with JDK 1.8 and Maven build.

[2021-09-07 05:42] #119 closed

[2021-09-08 17:24] ncanumalla-splunk commented on #169
Thank you for the information to help prioritize. Will plan accordingly.

[2021-09-14 20:34] ncanumalla-splunk commented on #145
Closing this issue with recommended versions in above comment.

[2021-09-14 20:34] #145 closed

[2021-09-21 15:28] bparmar-splunk commented on #62
Hi @Abrar-Snap,
We are recommending users to make use of **Bearer** token instead of Splunk token, because it is configurable and long lived token.

[2021-09-22 10:40] BalasubramanyamEvani commented on #169
@ncanumalla-splunk can I take this up? new to this repository. I think a setter method needs to be implemented which accepts a map and merges with the defaultHeaders. I do have a doubt though while accepting a new map of headers, how to handle the case when we get duplicate keys - Ignore or Merge values? Also, I guess a check needs to be in place to check for **User-Agent, Accept** keys?

Let me k

[2021-09-22 15:42] #144 closed

[2021-09-22 15:43] bparmar-splunk commented on #139
Hi @aggie05engineer,
We recommend users to make use of **Bearer** token (going further) instead of Splunk token, because it is configurable and long lived.

[2021-09-22 15:43] #139 closed

[2021-09-22 15:43] #123 closed

[2021-09-22 15:43] #62 closed

[2021-09-22 18:05] ncanumalla-splunk commented on #169
@BalasubramanyamEvani We definitely welcome contributions. Your approach seems to be in the right direction. Yes, you will need to account for the default keys and avoid overriding values. Please try implementing this as part of the [ServiceArgs](https://github.com/splunk/splunk-sdk-java/blob/master/splunk/src/main/java/com/splunk/ServiceArgs.java) class. Please submit a PR to this repo and our te

[2021-09-22 19:43] BalasubramanyamEvani commented on #169
@ncanumalla-splunk Thanks ! will work on it

[2021-10-04 06:07] bparmar-splunk commented on #151
Hi @nhalstead,
We have tested SavedSearch using Postman and yes attributes do exist. Whereas in case of fetching those attributes from SDK, it is possible to fetch all the above mentioned values. Please find below code snippet for reference.

[code]
Please check at your end and let us know, if you still face any issues.

[2021-10-26 15:26] vpnjain1991 opened #174 "Splunk Java SDk not supporting sslCertPath while writing to outputs.conf"
As per splunk doc (https://docs.splunk.com/Documentation/Splunk/8.2.2/Admin/Outputsconf) we need to write _clientCert_ : <client certificate> in $SPLUNK_HOME/etc/system/local/outputs.conf for TLS communication on splunk universal forwarder.
After upgrading splunk forwarder to 8.xx while its trying to save configuration for TLS communication. Its faling wiht below exception-

2021-10-25 16:27:51,38

[2021-11-03 22:10] Anegundi commented on #121
Do we have this connection pooling feature already?

[2021-11-08 03:31] vpnjain1991 commented on #174
@bparmar-splunk  have you tried ?

[2021-11-08 05:13] bparmar-splunk commented on #174
@vpnjain1991,
Yes, we have tried with splunk version 1.7.1. Please check the attachments for reference.
Test code works fine and attachments also contains result.

<img width="1792" alt="Screenshot 2021-11-03 at 16 59 50" src="https://user-images.githubusercontent.com/84167435/140687687-e7953f4e-bee5-477f-bcc5-3e50ceef34ce.png">
<img width="1792" alt="Screenshot 2021-11-03 at 17 01 09" src="https:

[2021-11-08 06:11] bparmar-splunk commented on #169
@BalasubramanyamEvani,
Will you please share current status of this issue? We would like to know if you are planning a PR for the same.
Please let us know in case of any queries/details.

[2021-11-10 04:19] BalasubramanyamEvani commented on #169
Yes i am planning to submit a PR by this week. I've been busy with Job search, sorry for the delay.

[2021-11-10 05:12] bparmar-splunk commented on #169
@BalasubramanyamEvani,
Thank you for the update.
Please let us know when you create PR.

[2021-11-16 06:46] bparmar-splunk commented on #174
@vpnjain1991,
It seems your issue has been resolved as per above mentioned comment.

Hence, closing this ticket.

[2021-11-16 06:46] #174 closed

[2021-11-16 10:11] bparmar-splunk commented on #169
@BalasubramanyamEvani,
Could you please re-share the timeline for this issue resolution?
As we are planning to release this change in this week.
Please let us know, if you have further queries.

[2021-11-16 10:37] vpnjain1991 commented on #174
@bparmar-splunk  yes issue can be closed but it would have been better if clientCert getter, setter are added to OutputServer class.

[2021-11-16 10:50] bparmar-splunk commented on #174
@vpnjain1991,
Sure. We will take care of that thing.
Thank you !

[2021-11-16 20:08] nhalstead commented on #151
Hi @bparmar-splunk, appreciate the response, finally had time to test it out.

The method `getBoolean` is not exported from the package (it has no access modifier so it's only available at the package level), so I'm not able to call that method!

My test code:
![image](https://user-images.githubusercontent.com/5577816/142057519-a537d2c2-73ba-48d3-b2ea-ac332e6a61da.png)

splunk-1.6.5.0.jar: `com.sp

[2021-11-16 20:09] nhalstead commented on #151
There is a workaround since `Entity::get` is public, I can duplicate the getBoolean method to run the same check.

[2021-11-17 10:30] BalasubramanyamEvani commented on #169
Hello @bparmar-splunk  sorry for the delay. I have created PR #176. Please check

[2021-11-18 20:24] fantavlik commented on #169
Merged in https://github.com/splunk/splunk-sdk-java/pull/176

[2021-11-18 20:24] #169 closed

[2021-11-19 08:06] BalasubramanyamEvani commented on #126
I have made some changes. I think this should suffice. Please let me know if this works.
[code]

[2021-12-10 05:17] bparmar-splunk commented on #170
We have successfully released Java SDK new version [1.8.0](https://github.com/splunk/splunk-sdk-java/releases/tag/1.8.0).
This issue is already been part of this release.
Hence, closing this ticket.

[2021-12-10 05:17] #170 closed

[2021-12-29 05:59] JayarajJapagal commented on #144
Hi @v-blan

Is this issue resolved ?
I am also facing same problem

[2022-05-12 11:32] jkozlowski opened #185 "SSL Certificates"
I am looking for guidance around SSL certificates for talking to Splunk for an app (data input) implemented using your Java SDK. Currently, the Script gets access to "server_host", "session_key" which are great because they allow the app to know how talk to Splunk and be authorized to do things, EXCEPT there's no truststore that could be used to make sure this communication can be done securely.

[2022-06-02 07:01] ashah-splunk commented on #185
Hi @jkozlowski , we are looking at couple of approaches for SSL security through SDK using self signed or Splunk generated SSL certificates. We would like to hear from you as well, if you have any suggestions for the same.

[2022-06-10 09:26] jkozlowski commented on #185
Another question: the value of ```server_uri``` passed to a modular input from my observation (from deploying a splunk docker container locally) is always something like ```https://127.0.0.1:<port>```; whereas ```server_host``` contains the actual hostname, that *I presume* the certificate presented by splunkd will be signed for. *I think* that means I should splice the hostname into the uri to ma

[2022-07-12 10:06] ashah-splunk commented on #126
Hi @BalasubramanyamEvani, thank you for the sharing the code change.
@vineethsoma we have added the Args option and the same will be available in the Next SDK release.

[2022-10-06 09:58] ashah-splunk commented on #126
@BalasubramanyamEvani, @vineethsoma
we have added the "args" option for the Saved Search History method and it is available in the latest SDK. Hence closing this issue, please reopen the issue if you still face any issue regarding this.

[2022-10-06 09:58] #126 closed

[2022-10-25 05:44] jrobins04 commented on #122
Hi @bparmar-splunk,

I am able to reproduce this using v1.9.1. This issue happens when the user provides no value for a modular input parameter.
com.splunk.modularinput.XmlUtil::textInNode line number 38:
[code]

Here no null check is performed for the `child` variable. In case when the modular input parameter has no value, `child` will be null and `child.getNodeType()` leads to null pointer.

Ple

[2022-10-25 06:07] jrobins04 opened #198 "Modular Input: Error during ValidationDefinition/InputDefinition when no value for parameter is passed"
I am able to reproduce this using v1.9.1. This issue happens when the user provides no value for a modular input parameter.
https://github.com/splunk/splunk-sdk-java/blob/master/splunk/src/main/java/com/splunk/modularinput/XmlUtil.java textInNode() line number 38:
[code]
Here, no null check is performed for the `child` variable. In case when the modular input parameter has no value, `child` will b

[2022-10-27 09:43] ashah-splunk commented on #198
@jrobins04 thanks for the detailed steps to reproduce the issue. We are looking into this and update you soon.

[2022-10-31 19:47] jrobins04 commented on #198
@ashah-splunk Hi, any update on this? We have been using a custom splunk java sdk jar with the fix(null check) for this. But, recently our app got flagged for cloud app inspect because we don't use the official version of splunk java sdk. So, this issue is of priority for us, or our app could get removed for splunk cloud.

[2022-11-03 12:05] ashah-splunk commented on #198
@jrobins04 is null check the only change or are there any other changes done as well? if so then I would request you to share your fix for this so that we can analyse that option for possible solution.

[2022-11-03 15:39] jrobins04 commented on #198
@ashah-splunk Yes, null check is all what we need in my analysis.
[code]

Here child variable needs to be checked for null.

[2022-11-11 06:24] ashah-splunk commented on #198
Hi @jrobins04 , we have added the null check for the child as per your suggestion ( ref [PR](https://github.com/splunk/splunk-sdk-java/pull/199/files)  ). would request you to have a look and let us know if anything else needs to be handled. We are planning a new Java SDK release next week.

[2022-11-12 06:40] jrobins04 commented on #198
@ashah-splunk thank you for looking into this with priority.

[2022-11-15 16:02] jrobins04 commented on #198
@ashah-splunk Thanks for looking into this. When are you planning a release for this fix?

[2022-11-16 05:49] ashah-splunk commented on #198
@jrobins04 we are planning a release by end of this week.

[2022-11-18 06:05] ashah-splunk commented on #198
@jrobins04 we have a new Java SDK 1.9.2 release, request you to try with the latest release and let us know if you still face the issue. Thanks!